/* Import and add custom background */

/* Body CSS */
/* ------------------------------------------------------------------ */

body {
  background-image: url("food.png");
  margin-left: 5pt;
  margin-right: 5pt;
}

/* ------------------------------------------------------------------ */
/* Navbar CSS */

.nav {
  border-radius: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff6ea;
  opacity: 95%;
  font-family: 'Eagle Lake', cursive;
  font-size: 16pt;
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-li a:hover {
  background-color: rgb(226, 50, 37);
  transition-duration: 0.3s;
}

/* ------------------------------------------------------------------ */
/* Font CSS */

.pageHeader {
  margin-left: 5pt;
  margin-bottom: 0pt;
  margin-top: 10px;
  font-size: 36pt;
  font-family: 'Eagle Lake', cursive;
  color: rgb(226, 50, 37);
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.pageSubhead {
  margin-left: 5pt;
  margin-top: 0pt;
  margin-bottom: 1pt;
  padding-left: 5px;
  font-size: 20pt;
  font-family: 'Eagle Lake', cursive;
  color: rgb(226, 50, 37);
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.pageText {
  margin-left: 5pt;
  margin-bottom: 10pt;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  font-size: 16pt;
  font-family: 'Contrail One', cursive;
}

.shade {
  margin-left: 25pt;
  margin-right: 25pt;
  opacity: 95%;
  border-radius: 15px;
  background: #fff6ea;
}


/* ------------------------------------------------------------------ */
/* Post CSS */

.blogShort {
  border-bottom:1px solid #ddd;
  margin-bottom: 20pt;
}

/* ------------------------------------------------------------------ */
/* Footer CSS */
.footer {
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 20px;
  width: 100%;
  list-style-type: none;
  padding: 0;
  height: 60px;
  background-color: #fff6ea;
  overflow: hidden;
  display: inline-block;
}

.footer-li {
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-family: 'Contrail One', cursive;
}

.footer-social {
  float: right;
  text-align: center;
  text-decoration: none;
}


/* ------------------------------------------------------------------ */
/* Social Icon CSS */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #0077B5;
  color: white;
  width: 20px;
  border-radius: 50%;
}

/* ------------------------------------------------------------------ */